<%= form_for [:intern, resource, attachment], :html => { :class => 'form-vertical well', :id => 'attachment-form'} do |form| %>
  <%= content_tag :legend, 'Neue Datei hinzufügen' %>
  <fieldset>
    <% if attachment.errors.any? %>
    <div class="alert alert-error"><strong>Achtung!</strong> Beim Versuch die Datei hochzuladen sind Fehler aufgetreten.</div>
    <% end %>
    <%= form.file_field :file, :label => false, :button => { :label => 'Auswählen' } %>
    <div class="pull-right"><%= form.submit 'Hochladen' %></div>
  </fieldset>
<% end %>
