#circle-navigation {
  text-align: center;
  position: relative;
  height: 577px;
  
  * {
    z-index: 100;
  }
  
  ul {
    list-style: none;
    margin: 0;
  }
  
  a {
    position: absolute;
    font-size: 20px;
    color: #666;
    font-weight: bold;
    
    &:hover {
      text-decoration: none;
      color: black;
      cursor: pointer;
      text-decoration: underline;
    }
    
    span {
      display: block;
      margin-top: 10px;
    }
  }
  
  img#background {
    width: 80%;
    position: absolute;
    top: 0;
    z-index: 99;
  }
}

h2 {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 540px;
  left: 420px;
  color: white;
  z-index: 1000;
}

#interaction-hint {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 150px;
  color: #A1A1A1;
}

#info-text {
  width: 250px;
  font-size: 18px;
  position: absolute;
  top: 580px;
  left: 356px;
  z-index: 1000;
  text-align: center;
  line-height: 22px;
  color: white;
}

#circle-konzept {
  top: 6%;
  left: 23%;
}

#circle-projekte {
  top: 6%;
  left: 54%;
}

#circle-weiterbildung {
  top: 40%;
  left: 68%;
}

#circle-faq {
  top: 76%;
  left: 56%;
}

#circle-team {
  top: 76%;
  left: 24%;
}

#circle-publikationen {
  top: 40%;
  left: 1%;
}