section#content .layout-wrap {
  position: relative;
}

#circle-navigation {
  text-align: center;
  position: relative;
  
  a {
    
    font-size: 20px;
    color: #333;
    font-weight: bold;
    
    &:hover {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    
    span {
      display: block;
      margin-top: 10px;
    }
  }
}

h2 {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 540px;
  left: 420px;
  color: white;
  z-index: 1000;
}

#info-text {
  width: 250px;
  font-size: 18px;
  position: absolute;
  top: 580px;
  left: 356px;
  z-index: 1000;
  text-align: center;
  line-height: 22px;
  color: white;
}

svg a:hover {
  text-decoration: none;
}