<div class="page-header">
  <h2>Tatenbank
    <%= link_to new_intern_project_path, :class => 'pull-right btn btn-info' do %>
      <i class="icon-plus"></i> &nbsp;Eintrag verfassen
    <% end %>
  </h2>
</div>
