<% page_title('English Summary') %>
<% page_stylesheet('extern/pages/english', :media => 'all') %>

<% content_for :headline  do %>
  <h1>English Summary</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait', :locals => {
        :name => 'Stefan Deuss',
        :role => 'risflecting guide',
        :image => 'portraits/thumb-portrait-stefan-deuss.jpg',
        :email => 'stefan@hafenundabenteuer.de'
      }
  %>
<% end %>

<article>

  <section class="row intro">
    <h2 class="span12">How to Find Balance in the Out of Everyday Life&hellip;</h2>

    <p class="span6">Risflecting as an international health promotion approach is based on the 
      insight that there is a natural human need for ecstatic feelings and risk-taking, 
      which leads to dangerous situations and addiction, unless managed responsibly. 
      risflecting teaches (young) people to anticipate and manage risk, as well as to 
      reflect upon their behavior in order to understand how they can become responsible 
      risk-takers. This work focuses both</p>
  
    <p class="span6">on the individual and on the dynamics of group 
      pressure. In the recent years, Gerald Koller, mentor and focal point of risflecting 
      an the pool of 120 risk trainers has expanded this program of risk management 
      from drug and alcohol consumption to areas of consumer spending, gambling, 
      driving, and extreme sports. Since the first project "Risk and Fun" in 2000 it 
      was introduced  in local communities, citizen sector organizations, and regional 
      government programs.</p>
  </section>

<section class="row">
  <div class="span6">
    <h2>The New Idea</h2>
  
    <p>Gerald Koller’s idea is based on a core realization he made while working in 
      the field of addiction prevention, as well as throughout his personal life: that 
      young people needed and searched for experiencing risk situations and 
      extraordinary feelings, and trespassing accepted social limits. Hence, he 
      developed a program that leads teenagers and other groups-at-risk to responsible 
      behavior in risky situations such as sports, driving, alcohol and drug 
      consumption. Target groups are not substance abusers or risk addicts, but 
      rather normal young people that are still in the process of developing an 
      understanding of their own identity and limits.</p>

    <p>risflecting believes that people who lack the balance between routine and risk 
      move into a danger zone of addiction and break-down. As an educational program it 
      guides young people to develop the ability to cope with risk and pressure believing 
      that young people need to master the skill of responsible behavior under stress, 
      since they are especially vulnerable to peer pressure. The programs provide 
      practical, empowering opportunities for youth to experience extreme situations 
      in order to observe their own behavior, and eventually to reflect upon their 
      actions. The work reinforces the individual's understanding of their own 
      behavioral patterns and enable participants to embrace life-changing patterns 
      of responsible behavior. As an unique approach it teaches the ability to pause 
      for a minute before committing to a situation of risk or danger, in order to 
      ensure the inner readiness before a decision to act is taken.</p>
  
    <p>Risflecting  has seen support not only by communities, but also by a growing 
      number of citizen-based initiatives and local governments, such as the cities. 
      There is increasing demand for this approach from Germany, Italy, Luxembourg, 
      and Switzerland, in all of which Gerald Koller and his partners have introduced 
      the method. The goal is not only to radically change addictive patterns in 
      Europe, but also to establish a functional model for risk-responsible behavior 
      of decision takers and worldwide.</p>
  </div>

  <div class="span6">
    <h2>Problem</h2>

    <p>Addictive behaviour and depression are on the rise all over Europe. 20% of 
      children and youth in Europe are diagnosed with psychological illnesses. 
      According to a recent WHO survey, ten percent of the Austrian population 
      suffer from chronic or temporary depression. Austria has one of the top 
      alcoholism rates in Europe with 330.000 addicts, and an estimated 870.000 
      living with an - at least temporary – problematic alcohol consumption lifestyle. 
      Usually, kids make their first intoxicating experiences with alcohol between 
      the ages of eleven and thirteen years. Among them, ten percent admit having 
      consumed alcohol over fourty times before, and having been intoxicated at 
      least twice. Moreover, over a third of illegal drug consumers, who take 
      advantage of the Austrian drug consultation services, are adolescents. A 
      further significant number of youth is affected debt distress, as every 
      eighth client of Austrian debtor services is younger than 25.</p>
  
    <p>Traditional approaches to deal with addiction and irresponsible behavior in 
      society, especially among youth, have only resulted in stagnation of the problem. 
      Technology has not provided answers to addiction or reduced the desire for 
      risk-taking. Moreover, traditional prevention programs have imposed high social 
      costs, instead of tackling the roots of the problem. Their individual-centered 
      approach labels addiction to be a disease instead of a cultural problem. On the 
      contrary, risflecting views addiction as the result of a system that mistakes 
      risk for a problem, rather than a natural part of human identity. It overcomes 
      the system of service delivery upon which traditional prevention is based 
      through this strategic community-based interventions.</p>
  </div>
</section>

<section class="row">
  <div class="span6">
    <h2>Strategy</h2>

    <p>In recent years risflecting has launched a series of projects with risk-taking 
      organizations that reach out to young risk-takers. For instance, it has 
      implemented programs with a debt-counseling and consumer spending organization – 
      or as largest project to date with the largest alpine organization in the region, 
      in which  workshops that foster risk awareness that have been attended by 
      thousands of risk-loving youth were imüplemented. These adventurous, yet safe 
      activities focus on extreme sports such as free riding and combine them with 
      riskcompetence training in group situations. Each risky situation is evaluated 
      both before and after exposure. Participants are encouraged to apply their 
      learnings to other borderline situations, that the participant may have faced 
      in the past or that she might experience in the future. For instance, risk 
      experience during a climbing exercise has shown to strike the same chords as 
      ad-hoc risk estimation in road traffic, ie. speeding. Peer-education and 
      mentoring are used to strenghten the participants' risk competence by reflecting 
      upon their decisions and individual behavior. Participants are made aware of 
      group dynamics and gain an understanding for the effects of peer pressure on 
      their decision making process.</p>
  
    <p>In addition, risflecting has designed training programs that educate 
      professional youth workers and teachers to become highly qualified risk 
      educators. After completion these trainers implement their own community 
      projects and hence contribute significantly to the spread of the approach. 
      One example is a program that redesigns parties and has become popular among 
      young people. It uses the perceived authority of bartenders to redefine 
      drinking behaviors of their young consumers. Based on the finding that young 
      people nowadays consume alcohol at a much faster pace, they are slowed down 
      through directed interaction with the bartender, who invites them to mix their 
      own drinks and chat about their drinking habits.</p>
    
    </div>

    <div class="span6 pull-down">
      
    <p>  This simple intervention has shown to reduce the amount of alcohol intake 
      and influence future drinking behaviour significantly. The program has been 
      taken up by bars, youth centers, and municipalities all over the country and 
      has been independently copied by young changemakers.</p>
  
    <p>To date, Gerald Koller and his partners and collegues have trained experts in 
      Austria, Germany, Italy, Luxembourg, and Switzerland. So far, about 120 people 
      have graduated from this program as qualified trainers and multipliers of these 
      ideas.</p>
  
    <p>risflecting has also developed grassroots strategies that reach out to local 
      communities in workshops and interactive presentations working with young people, 
      groups-at-risk and local and encourages parents, citizen sector organizations, 
      teachers governments and public service agencies to cooperate to create a 
      responsible risk taking culture.</p>
  
    <p>In these grassroots sessions risflecting is, for example, altering the culture 
      of tent-festivals, ie. huge entertainment festivals that usually involve music 
      and alcohol. There are thousands of tent-festivals held all over Europe, most 
      of them similar in their set-ups. In these sessions risflecting works with local 
      communities that are hosts of tent-festivals, changing the organizational 
      structure of their events towards more ownership of the participants. Other 
      than just paying and consuming, participants are invited to co-create the 
      program and set-up of the festival. The approach has created environments of 
      joy and celebration with less alcohol and violence.</p>
  
    <p>risflecting is also starting to design tools to make this approach even more 
      accessible as a practical technique for parents enabling them to support the 
      health and mental wellbeing of their children by means of simple and effective 
      practices.</p>
  </div>
</section>

<section class="row">
    <h2 class="span12">Ashoka Fellow</h2>

    <p class="span12">Gerald Koller’s program, driven forward by an expert pool of trainers and 
      project coordinators, has recorded significant successes in shifting both 
      young people's behavioral awareness related to risk and radically changing 
      communication and learning structures between educators and youth. In order 
      to  support this work of social change, Gerald was elected as Ashoka Fellow 
      by Ashoka, the global organization for the world’s leading social entrepreneurs.</p>
</section>

