<% page_title('FAQs') %>
<% page_stylesheet('extern/pages/faqs', :media => 'all') %>
<% page_javascript('extern/pages/faqs') %>

<% content_for :headline  do %>
  <h1>FAQ: Häufig gestellte Fragen</h1>
<% end %>

<div class="row">
  
  <aside id="faqs-navigation" class="span4">
    <ul>
      <li><a href="#question-1">Hat jeder Mensch Bedürfnis und Sehnsucht nach rauschhaften Erfahrungen?</a></li>
      <li><a href="#question-2">Ist dieses Bedürfnis bei Jugendlichen heute größer?</a></li>
      <li><a href="#question-3">Wie hat sich der Umgang mit Rauscherfahrungen im Lauf der Geschichte gewandelt?</a></li>
      <li><a href="#question-4">Haben Sie Tipps im Umgang mit Rausch und Risiko seitens der Prävention?</a></li>
      <li><a href="#question-5">Welche Ziele hat risflecting?</a></li>
    </ul>
  </aside>
  
  <article class="span8">
    
    <section id="question-1">
      <h2>Hat jeder Mensch Bedürfnis und Sehnsucht nach rauschhaften Erfahrungen?</h3>

      <p>Dass rauschhaftes Erleben Teil menschlichen Lebens ist, zeigt schon die Tatsache, dass der wesentliche 
        lebensspendende Akt der Sexualität in der menschlichen Biologie als Rauscherlebnis angelegt ist. Rausch 
        bedeutet Ausstieg aus Alltagskonstruktionen, Verlassen der gewohnten Normen und Veränderung des 
        Zeitempfindens. All das sind Sehnsüchte des Menschen, die durchaus auch im Sinne von Entspannung und 
        Distanzierung positiv genützt werden können.</p>

      <p>Selbstverständlich ist der Rauschbegriff vieldeutig: Vom Liebesrausch bis zum Blutrausch ist in ihm alles 
        vertreten und somit auch die janusköpfige Doppelgestalt angesprochen. Eine Auseinandersetzung mit dem 
        Rauschhaften muss sich daher auch mit den vier Dimensionen und Intensitätsgraden der Rauscherfahrung 
        auseinandersetzen.</p>

      <%= image_tag "konzept/spirale.jpg" %>

      <p>Während das berauschende Erlebnis noch keine hohen Risiken in sich trägt, bedarf es in der Ekstase hoher 
        Verantwortung und Vorbereitung, um mit den freigewordenen psychischen Kräften umgehen zu können. Welche 
        Rauschintensität Menschen suchen, ist höchst individuell und auch kaum vorher bestimmbar. Eine 
        Auseinandersetzung damit kann aber Bewusstheit und damit erhöhte Verantwortung bringen.</p>

      <p>Anhand des hier gezeigten Modells lässt sich auch deutlich machen, dass Männer und Frauen verschiedene 
        Rauscherfahrungen suchen: Während es bei Frauen sehr oft um das berauschende Erlebnis bis zur Euphorie 
        geht (die aber immer noch ein Stück weit Kontrolle über das eigene Handeln zulässt), suchen insbesondere 
        junge Männer sehr oft die Ekstase, die Erfahrung der Grenze oder Grenzüberschreitung, um sich darin 
        selbst zu spüren.</p>
    </section>

    <section id="question-2">
      <h2>Ist dieses Bedürfnis bei Jugendlichen heute größer?</h3>

      <p>Die verdrängende Fluchtwirkung des Rausches nimmt in Gesellschaften immer dort zu, wo kulturelle Brüche 
        und Identitätsmankos auftreten: Das war schon im alten Rom so und bewies sich auch in den letzten Tagen 
        der Naziherrschaft im belagerten Berlin. 
        
      <p>Wenn Jugendliche heute also vermehrt zu binch-drinkingOrgien neigen, so ist das m.E. zuerst Anzeichen 
        einer kulturellen Problematik und weniger einer individuellen oder sozialen. In einer Welt, deren 
        Zeitwahrnehmung sich seit dem Jahr 1960 verfünfunddreißigfacht hat, alles also immer schneller eintreten 
        soll, ist auch für den Umgang mit Rausch keine Zeit. Er soll schnell und heftig in seiner Wirkung sein 
        und wird somit zum Spiegelbild einer getriebenen Gesellschaft. Dies gilt nicht nur für den Umgang mit 
        legalisierten oder illegalisierten (ganz wichtig: nicht von legalen oder illegalen Substanzen zu sprechen, 
        da es sich immer um politische Prozesse handelt!) Drogen, sondern auch mit Medien, dem Spiel oder 
        dem Einkaufen.</p>
        
      <p>Risflecting geht mit all diesen Phänomenen gleichermaßen um, weil sie nur verschiedene Spitzen ein und 
        des selben Eisbergs sind. Der Handlungsansatz zu Kultivierung des Umgangs mit Rausch und Risiko kann daher 
        auf alle Rausch- und Risikoerfahrungen angewandt werden.</p>
    </section>

    <section id="question-3">
      <h2>Wie hat sich der Umgang mit Rauscherfahrungen im Lauf der Geschichte gewandelt?</h3>

      <p>Rauscherfahrungen wurden ja jahrzehntausende lang im rituellen Gesamtzusammenhang gemacht und hatten schon 
        früh Ventil- wie auch religiösen Charakter. Schon Jäger- und SammlerInnen der Frühzeit bissen auf ihren 
        Wanderungen vermutlich einmal auf eine alkaloidhältige Pflanze und begriffen bald, dass dies der Entspannung 
        wie auch der Gottesschau dienlich war. Diese Pflanzen wurden fortan unter die Obhut des Schamanen/der 
        weisen Frau gestellt. Entweder berauschten sich nun diese stellvertretend für den Stamm (heute tun das noch 
        die Priester symbolisch im Messopfer mit dem Wein) – oder der ganze Stamm berauschte sich nach streng 
        rituellen Vorschriften: Reinigung, Vorbereitung, Disziplinierung gingen der Drogeneinnahme voraus, 
        Nachbereitung und Aufarbeitung im Alltag folgten ihr.</p>
        
      <p>Erst die Aufklärung und ihr Bestreben nach anthropozentrischer Klarheit verlor den Umgang mit Rausch 
        aus dem Auge. Und wie es so ist: Verdrängtes schafft sich umso heftiger neue Bahn. Und mit der 
        Industrialisierung und dem damit verbundenen Identitätsschock begann die Frustverdrängung durch Alkohol 
        sich epidemisch auszuweiten.</p>
        
      <p>Im 20. Jahrhundert schließlich wurde der Rausch als wirtschaftlicher und politischer Marktwert entdeckt: 
        Neue Drogen wurden erfunden (Heroin für die Helden an der Front), Kriege mit ihnen geführt, Konzerne 
        voll undurchsichtiger Beziehungen errichtet (heute nimmt die illegale Drogenindustrie den 3. Platz in 
        der Weltwirtschaftsstatistik ein). Die Berauschung ist somit – entritualisiert und ihrer psychosozialen 
        Bedeutung enthoben – zum berechenbaren Planungsfaktor für wirtschaftliche und politische Interessen geworden.</p>
    </section>

    <section id="question-4">
      <h2>Haben Sie Tipps im Umgang mit Rausch und Risiko seitens der Prävention?</h3>

      <p>Zuerst einmal sind viele Fördermaßnahmen der Prävention und Gesundheitsförderung, die auf Stärkung der 
        allgemeinen Lebenskompetenzen zielen, Grundlage für risflecting:</p>

      <p>So ist eine allgemeine Konsumkompetenz wichtige Voraussetzung für die speziellen Kompetenzen, die 
        risflecting anstrebt – damit ist sowohl gemeint, altersgemäß Substanzen und entsprechende Quantitäten zu 
        konsumieren (ein zu früher Konsum psychoaktiver Substanzen gilt nach allen Untersuchungen als schädigend) 
        als auch einen Rhythmus zwischen Genuss- und Verzichtsituationen zu entwickeln: Der vom 
        Dopamin-Erwartungssystem gesteuerte Lustimpuls, als angenehm empfundene Zustände zu wiederholen, führt, 
        wenn er nur auf immer die selbe Weise befriedigt wird, zu immer niedrigeren Endorphin-Ausschüttungen im 
        linken Scheitellappen des Stirnhirns. Dosissteigerungen sind in der Regel die Folge. Der Rhythmus zwischen 
        Genießen und Verzichten ist daher ein ebenso wesentliches präventives Ziel wie auch die Entwicklung 
        verschiedener Rausch- und Risikostrategien nach der alten Weisheit „Variatio delectat“ (vgl. auch das 
        Klaviermodell nach Koller, 1994).</p>

      <p>Die Kommunikation über Rausch- und Risikosituationen und -erfahrungen gelingt nur dann, wenn in allen 
        Bereichen des Alltags Kommunikation trainiert und angewandt wird.</p>

      <p>Übung in Selbstwahrnehmung ist eine wichtige Voraussetzung dafür, die eigene Befindlichkeit situativ und 
        aktuell wahrzunehmen: Beginnend bei der sensiblen Wahrnehmung der körperlichen Befindlichkeit in Stress- 
        und Entspannungssituationen über die Entwicklung einer adäquaten Sinnlichkeit auf allen Ebenen bis zur 
        Integration von persönlichen und sozialen Ritualen, die das Alltägliche wie das Außeralltägliche 
        strukturieren. Die rausch- und risikopädagogischen Erfahrungen mit risflecting wiederum geben der 
        präventiven Arbeit mit Jugendlichen und Erwachsenen ihrerseits wiederum drei Anregungen mit auf den Weg:</p>

      <ul>
        <li>Der Diskurs über Rausch und Risiko kann nicht allein vernunftgeleitet geführt werden. Erst ein 
          interaktives emotionales Geschehen sichert nachhaltige präventive Wirkungen.</li>
        <li>Im Rahmen aktuell durchgeführter qualitativer und quantitativer Erhebungen wurde deutlich, dass 
          Jugendliche und MitarbeiterInnen der Jugendhilfe Anliegen, Ansätze und Sprache der Prävention oftmals 
          nicht verstehen und als von ihrer Realität abgehoben empfinden. Alltagsnähe ist also angesagt. Neben 
          dem komplexen Geschehen struktureller Maßnahmen sollten wir in der Kom-munikation mit Jugendlichen 
          nicht vergessen, zwei jahrtausendelang bewährte Hilfen zur Rausch- und Risikobalance anzubieten: 
          „Nimm nichts – oder nicht viel, wenn Du schlecht drauf bist. Guter Rausch braucht gute Stimmung – 
          und Zeit“ und: „Halt Ausschau nach Leuten, mit denen du deine Erfahrungen teilen kannst. Auch danach.“</li>
        <li>Die Vorbildrolle erwachsener BegleiterInnen ist nicht zu unterschätzen, wenn es um Rausch und 
          Risiko geht. Hier ist Offenheit angesagt. Über Grenzziehungen, Informationen, pädagogische Appelle 
          und Maßnahmen bzw. -regelungen hinaus schulden wir Kindern und Jugendlichen vor allem eine ernsthafte 
          und aufmerksame Einführung in die Bereiche des Außeralltäglichen. </li>
      </ul>
    </section>

    <section id="question-5">
      <h2>Welche Ziele hat risflecting?</h3>

      <ul>
        <li>Rausch- und Risikoerfahrungen auf persönlicher, sozialer und gesellschaftlicher Ebene enttabuisieren.</li>
        <li>Diese Erfahrungen für die Alltags- und Lebensgestaltung nutzbar machen.</li>
        <li>Verantwortung für außeralltägliches Verhalten durch Rauschkultur und Risikokompetenz übernehmen. Dies meint insbesondere die Vor- und Nachbereitung solcher Erfahrungen durch die bewusste Wahrnehmung und Gestaltung von innerer Bereitschaft und äußerem Umfeld.</li>
      </ul>

      <p>Dialoggruppen von risflecting sind nicht ProblemkonsumentInnen von Substanzen und Missbraucher, nicht Personen und Gruppen mit exzessivem Risikoverhalten. Solche Personengruppen brauchen Beratung und Hilfestellung.</p>

      <p>Risflecting zielt vielmehr darauf ab, jener großen Gruppe von Personen, die Risikosituationen unbewusst eingehen und Rauscherfahrungen ohne Vor- und Nachbereitung konsumieren, bewusste Möglichkeiten zur Auseinandersetzung anzubieten.</p>

      <p>Da Risikoverhalten je nach persönlicher Vorliebe und sozialem Setting variiert, sind Risikotypen als durchgängige Handlungsstrategie nicht eindeutig diagnostizierbar – wir haben es in unserem pädagogischen Handeln also immer mit einer Melange verschiedener Handlungsdynamiken und Einflussfaktoren zu tun. Hier strebt risflecting Balance an: So brauchen in mancher Situation die einen mehr Risikobereitschaft, die anderen wiederum Hilfestellung durch Begrenzung derselben.</p>

      <p>In der präventiven Jugendarbeit setzt also RISFLECTING wie folgt an:</p>

      <%= image_tag "konzept/vom-impuls-zum-erlebnis.png" %>
    </section>
  </article>
  
</div>