<% content_for :headline  do %>
  <h1>Impressum</h1>
  <div id="sub-headline">
    Ein Blick hinter die Kulissen
  </div>
<% end %>

<p>Risflecting freut sich über Ihren Besuch auf dieser Website und Ihr Interesse. Sie werden eventuell um die Angabe persönlicher Informationen gebeten. Die Beantwortung dieser Fragen ist freiwillig. Ihre persönlichen Daten werden in Übereinstimmung mit den Datenschutzbestimmungen Österreichs gespeichert.</p>

<strong>Datenschutz</strong>

<p>Sämtliche auf dieser Website erhobenen persönlichen Daten werden ausschließlich zu Ihrer individuellen Betreuung, der Übersendung von Produktinformationen gespeichert. Die Firma Risflecting sichert zu, dass Ihre Angaben entsprechend den geltenden datenschutzrechtlichen Bestimmungen vertraulich behandelt werden.</p>

<strong>Copyright</strong>

<p>Alle Rechte vorbehalten. Text, Bilder, Grafiken, Sound, Animationen und Videos sowie deren Anordnung.</p>

<p>Websites unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze.
Der Inhalt dieser Websites darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden.</p>


<strong>Garantie</strong>

<p>Diese Website wurde mit größtmöglicher Sorgfalt zusammengestellt. Trotzdem kann Risflecting für die Fehlerfreiheit und Genauigkeit der enthaltenen Informationen nicht garantieren. Risflecting schließt jegliche Haftung für Schäden, die direkt oder indirekt aus der Benutzung dieser Website entstehen, aus, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit von Risflecting beruhen.</p>


<strong>FORUM LEBENSQUALITÄT ÖSTERREICH</strong>

<p>Vereinssitz: Pfarrgasse 10, A-2340 Mödling<br/>
Büro: Wiesenerstraße 5, A-7202 Bad Sauerbrunn</p>
