<% page_title('Kontakt') %>
<% page_stylesheet('extern/pages/kontakt', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Kontakt</h1>
<% end %>

<%= content_for :footer_portrait do %>
  <%= render :partial => 'shared/footer_portrait' %>
<% end %>

<article class="span8 offset2">
  
  <div class="content-box">
    <p>Ein Netzwerk lebt von verschiedenen Richtungen und Ansätzen des 
      Denkens und Handels. Auch das risflecting<sup>&reg;</sup>-Netzwerk braucht den Dialog und Ihr 
      Interesse, um sich weiter entwickeln zu können. Wenn Sie mit uns in Kontakt 
      treten wollen, sind wir für Ihre Anregungen, Diskussionsbeiträge und Anfragen 
      dankbar:</p>
  </div>

  <h2>FORUM LEBENSQUALITÄT</h2>
  <p>Europäischer Bildungsraum für Gesundheit, Gesellschaft und Geselligkeit</p>
  <p>Postfach 11, A-7202 Bad Sauerbrunn</p>
  
  <p id="communication">Telefon: +43 (0)664 / 1972 842 <br/>
    <%= encoded_email 'Email senden', 'agnes.koller@qualitaetleben.at' %>
  </p>
</article>