<% page_title('Kontakt') %>
<% page_stylesheet('extern/pages/kontakt', :media => 'all') %>

<% content_for :headline  do %>
  <h1>Kontakt</h1>
<% end %>

<article class="span8 offset2">
  
  <div class="content-box">
    <p>Ein Netzwerk lebt von verschiedenen Richtungen und Ansätzen des 
      Denkens und Handels. Auch das risflecting-Netzwerk braucht den Dialog und Ihr 
      Interesse, um sich weiter entwickeln zu können. Wenn Sie mit uns in Kontakt 
      treten wollen, sind wir für Ihre Anregungen, Diskussionsbeiträge und Anfragen 
      dankbar:</p>
  </div>

  <h2>FORUM LEBENSQUALITÄT, Postfach 11, A-7202 Bad Sauerbrunn</h2>

  <p>Telefon u. Fax: +43 (0)664 / 1972 842 <br/>
    <script type="text/javascript" language="javascript"><!--
    ML="banfs\"ui:<ql.@kto=eEgrh/> mc";
    MI="91IFEB3A5J17;?@81D2B4<>@;;BE=:61;7?1B?;B0B2<1?5HCJ17;I4KF7K>B29G1H";
    OT="";
    for(j=0;j<MI.length;j++){
    OT+=ML.charAt(MI.charCodeAt(j)-48);
    }document.write(OT);
    // --></script></p>
</article>