<%= image_tag "portrait-gerald-koller.png" %>

<h3>Gerald Koller: Bildungsmensch, Zusammendenker, changemaker</h3>

<p>Gerald Koller ist seit 25 Jahren als Fachberater, Referent und Autor im Brückenbereich zwischen Gesundheit und Kommunikation unterwegs - und dabei Baupläne für die präventive Arbeit mit Jugendlichen entwickelt, die europaweit Anwendung finden. Nach seiner Mitarbeit beim Aufbau der modernen Suchtprävention in Österreich und der peer group education in verschiedenen europäischen Regionen sah er die pädagogische Aufgabe, das Bedürfnis von (jungen) Menschen nach Rausch und Risiko als Entwicklungspotential zu erkennen - und ihnen Möglichkeiten in die Hand zu geben, ihren Umgang damit zu kultivieren. Die dabei notwendige Ent-tabuisierung öffnet den Weg von der Bewahrungs- zur Bewährungspädagogik. Auf ihr basiert risflecting, der von Gerald Koller entwickelte Ansatz der Rausch- und Risikopädagogik. Heute wird im gesamten deutschsprachigen Raum dieses Konzept von ausgebildeten Fachleuten in Schulen, Betrieben, Beratungseinrichtungen, Jugendzentren, Freizeitparks im Dienste der Sucht- und Gewaltprävention, der alpinen und der Verkehrserziehung angewandt und weiter entwickelt.</p>

<p><strong>Für seine Entwicklungsarbeit wurde Gerald Koller von Ashoka, der weltgrößten Organisation für social change, zum Ashoka fellow berufen.</strong></p>

<%= link_to "zum Film", "http://youtu.be/p3e9-B_icRM", target: :new %>
