<h3>Studie</h3>

<section>
  <p>
    Die vorliegende Studie fasst theoretische Konzepte, Analysen relevanter theoretischer Literatur und Praxiserfahrungen aus der Arbeit mit Jugendlichen zu einem Überblick über Rausch- und Risikopädagogik zusammen.
  </p>
  <p>
     Die Studie behandelt Grundlagen, Statements und Modelle zur Rausch und Risikopädagogik.
  </p>
  <p>
    <a href="<%= asset_path 'studie.pdf' %>">Studie als PDF ansehen.</a>
  </p>
  <p>
    Erstellt im Auftrag von Akzente Salzburg, der österreichischen Alpenvereinsjugend, dem Landesjugendreferat Wien und dem Amt für Jugendarbeit der Provinz Bozen – Südtirol. Gefördert aus Mitteln des Fonds Gesundes Österreich.
  </p>
</section>

<section>
  <h4>Fokusthemen der Studie</h4>
  <ul>
    <li>
      Grundlegende Begriffe
    </li>
    <li>
      Kritik am Status Quo
    </li>
    <li>
      Das risflecting-Konzept
    </li>
    <li>
      Literaturanalyse: Genuss
    </li>
    <li>
      Literaturanalyse: Risiko
    </li>
    <li>
      Literaturanalyse: Rausch
    </li>
    <li>
      Literaturanalyse: Tanz, Techno u. Ekstase
    </li>
    <li>
      Pädagogische Konsequenzen
    </li>
    <li>
      Methoden
    </li>
    <li>
      Die AutorInnen
    </li>
  </ul>
</section>

