<h2>Weiterbildung und Lehrgänge</h2>

<h3>Studienweg zur Risikopädagogischen Begleitung 2012</h3>

<section>
  <article>
    <strong>BASICS</strong> (32 Einheiten)<br/>
    17.05.2012, 17 Uhr – 20.05.2012, 13 Uhr, Langschlag/Niederösterreich<br/>
    mit GERALD KOLLER

    <ul>
      <li>warm-up: Die Gruppe entwickelt ihre Form und Rhythmen</li>
      <li>Definitorische Grundlagen: Rausch, Risiko, Entwicklung</li>
      <li>Ethnologische, historische und pharmakologische Zugänge zu risflecting</li>
      <li>Der risflecting-Ansatz zur Rausch- und Risikobalance</li>
      <li>Models of good practice: Vorstellung pädagogischer Handlungswege und Praxismodelle</li>
    </ul>
  </article>

  <article>
    <strong>INTENSIVE</strong> (40 Einheiten)<br/>
    21.06.2012, 16 Uhr – 24.06.2012, 16 Uhr, Obernberg/Tirol<br/>
    mit ROLF UND LEA BUTSCH

    <ul>
      <li>Kommunikation, Kooperation, Konflikte: Wie risflecting ermöglichen?</li>
      <li>Ritual- und Festkultur: Selbst- und Gruppenerfahrung, gewonnene Qualitätsstandards</li>
      <li>Theorie und Praxis der „Heldenreise“ als theatralische Erfahrung</li>
      <li>Integration der Erfahrungen und Transfer in den Alltag</li>
    </ul>
  </article>

  <article>
    <strong>COACHING & CERTIFICATES</strong> (12 Einheiten)<br/>
    04.10.2012, 14 Uhr – 05.10.2012, 13 Uhr, Bodenseeraum

    <ul>
      <li>Vorstellung von Handlungsideen und Fragen zur Realisierung</li>
      <li>Vertiefung und Weiterentwicklung der Qualitätsstandards in Gruppenreflexionen</li>
      <li>Zertifikatsverleihung</li>
      <li>Rück- und Ausblick</li>
    </ul>
  </article>
</section>

<section>
  <p>Unsere Weiterbildungen dienen dazu, durch Theorie-Impulse, Selbsterfahrung und Praxisaustausch einen umfassenden Einblick in risflecting zu gewährleisten und den Kreis der "HüterInnen des Themas" zu erweitern.</p>

  <p>Detailierte Informationen zu unseren Lehrgängen und Fortbildungen finden sie <%= link_to "hier", asset_path("weiterbildung-2012.pdf") %>.<br/>
  Das <%= link_to "Anmeldeformular", asset_path("anmeldeformular-2012.pdf") %> gibt es hier als Download (PDF).</p>


  <p>Der Lehrgang aus Sicht einer TeilnehmerIn: <%= link_to "Lehrgangsreflexion", asset_path("lehrgangsreflexion-2008.pdf") %></p>

  <p>Für eine erste Einführung in den risflecting-Ansatz vor Ort bieten Mitglieder des ExpertInnenpools Vortrags- und Seminarveranstaltungen an. Treten Sie bei Interesse mit uns in <%= link_to "Kontakt", static_path(:kontakt) %>.</p>
</section>
