development: &defaults
  secret_token:
  postgres_username:
  postgres_password:
  gmail_username:
  gmail_password:
  s3_access_key_id:
  s3_secret_access_key:
  application_email_address:
  fehlergrube_api_key:
  fehlergrube_host:
  postmark_api_key:
  sentry_private_dsn:
  sentry_public_dsn:

test:
  <<: *defaults

production:
  <<: *defaults
