<div class="pins">

  <div class="category nightlife">

    <div class="pin wien first" data-location="1">
      <div class="marker"></div>
      <div class="city">Wien</div>
      <div class="content">
        <h4>Donau</h4>
        <p class="reason">für positive Irritationen zu einem reflektierten Nachtleben</p>
        <a class="link" href="http://www.donautechno.com/" target="_blank">www.donautechno.com</a>
      </div>
    </div>

    <div class="pin landsee" data-location="4">
      <div class="marker"></div>
      <div class="city">Landsee</div>
      <div class="content">
        <h4>PUR</h4>
        <p class="reason">für Picknickkultur und Genuss mit Weitblick</p>
        <a class="link" href="http://www.pur-landsee.at/" target="_blank">www.pur-landsee.at</a>
      </div>
    </div>

    <div class="pin wrneustadt" data-location="5">
      <div class="marker"></div>
      <div class="city">Wr. Neustadt</div>
      <div class="content">
        <h4>Triebwerk</h4>
        <p class="reason">für die Erschließung jugendkultureller Begegnungs- und Gestaltungsräume</p>
        <a class="link" href="http://jugendundkultur.at/" target="_blank">jugendundkultur.at</a>
      </div>
    </div>

  </div>

  <div class="category sport">

    <div class="pin lauterach" data-location="2">
      <div class="marker"></div>
      <div class="city">Lauterach</div>
      <div class="content">
        <h4>Luteracher Bänkle</h4>
        <p class="reason">für die kommunikative Belebung des öffentlichen Raums in Lauterach</p>
        Email: <a class="link" href="mailto:simon.kresser@lauterach.at" target="_blank">simon.kresser@lauterach.at</a>
      </div>
    </div>

    <div class="pin woergl" data-location="3">
      <div class="marker"></div>
      <div class="city">Wörgl</div>
      <div class="content">
        <h4>NMS Wörgl</h4>
        <p class="reason">für Risiko mit Verantwortung im Schulunterricht</p>
        <a class="link" href="http://www.hs-woergl1.tsn.at/" target="_blank">www.hs-woergl1.tsn.at</a>
      </div>
    </div>

    <div class="pin wien second" data-location="6">
      <div class="marker"></div>
      <div class="city">Wien</div>
      <div class="content">
        <h4>Fanclub Friedhofstribüne</h4>
        <p class="reason">des Fußballvereins Wiener Sportklub für Fan- und Anreisekultur mit Bewusstsein</p>
        <a class="link" href="http://www.friedhofstribuene.at/" target="_blank">www.friedhofstribuene.at</a>
      </div>
    </div>

    <div class="pin linz" data-location="8">
      <div class="marker"></div>
      <div class="city">Linz</div>
      <div class="content">
        <h4>OÖ Kulturquartier</h4>
        <p class="reason">für die Einladung zum zwanglosen Kunsterleben in der Ausstellungsreihe HÖHENRAUSCH</p>
        <a class="link" href="http://www.hoehenrausch.at" target="_blank">www.hoehenrausch.at</a>
      </div>
    </div>

  </div>

</div>

<div class="legend">

  <div class="nightlife locations">
    <h3>Gastronomie & Nightlife</h3>

    <ul>

      <li><a data-location="1" href="http://www.donautechno.com/" target="_blank">
        Donau, Wien
      </a></li>

      <li><a data-location="4" href="http://www.pur-landsee.at/" target="_blank">
        PUR, Landsee
      </a></li>

      <li><a data-location="5" href="http://jugendundkultur.at/" target="_blank">
        Triebwerk, Wr. Neustadt
      </a></li>

    </ul>
  </div>

  <div class="sport locations">
    <h3>Spiel & Sport</h3>
    <ul>

      <li><a data-location="2" href="mailto:simon.kresser@lauterach.at">
        Luteracher Bänkle, Lauterach
      </a></li>

      <li><a data-location="3" href="http://www.hs-woergl1.tsn.at/" target="_blank">
        NMS Wörgl, Wörgl
      </a></li>

      <li><a data-location="6" href="http://www.friedhofstribuene.at/" target="_blank">
        Fanclub Friedhofstribüne, Wien
      </a></li>

      <li><a data-location="8" href="http://www.hoehenrausch.at" target="_blank">
        OÖ Kulturquartier, Linz
      </a></li>

    </ul>
  </div>
</div>