<div class="pins">

  <div class="category nightlife">

    <div class="pin wiesen" data-location="1">
      <div class="marker"></div>
      <div class="city">Wiesen</div>
      <div class="content">
        <h4>Jazzpub und Festivalgelände</h4>
        <p class="reason">für die 40 jährige Betreuung eines der stimmigsten
          Festivalgelände Europas–und der Jugendkultur</p>
        <a class="link" href="http://www.wiesen.at" target="_blank">www.wiesen.at</a>
      </div>
    </div>

    <div class="pin linz" data-location="2">
      <div class="marker"></div>
      <div class="city">Linz</div>
      <div class="content">
        <h4>Frau Dietrich</h4>
        <p class="reason">für vorbildhafte Gestaltung des
          Schwellenbereichs und Pflege der Baratmosphäre</p>
        <a class="link" href="http://www.frau-dietrich.at/" target="_blank">www.frau-dietrich.at</a>
      </div>
    </div>

    <div class="pin wien" data-location="3">
      <div class="marker"></div>
      <div class="city">Wien</div>
      <div class="content">
        <h4>Club Courage</h4>
        <p class="reason">für die Förderung von Zivilcourage in der Clubkultur</p>
        <a class="link" href="http://www.clubcourage.at" target="_blank">www.clubcourage.at</a>
      </div>
    </div>

    <div class="pin graz first" data-location="4">
      <div class="marker"></div>
      <div class="city">Graz</div>
      <div class="content">
        <h4>Jugendkulturzentrum Explosiv</h4>
        <p class="reason">für die Entwicklung einer sozialen Lokalatmosphäre
          und Weiterbildung der Ehrenamtlichen</p>
        <a class="link" href="http://www.explosiv.at" target="_blank">www.explosiv.at</a>
      </div>
    </div>

    <div class="pin salzburg" data-location="5">
      <div class="marker"></div>
      <div class="city">Salzburg</div>
      <div class="content">
        <h4>220°</h4>
        <p class="reason">für das Zusammenführen von Kaffee-Konsumkultur und sozialer Gerechtigkeit</p>
        <a class="link" href="http://www.220grad.com" target="_blank">www.220grad.com</a>
      </div>
    </div>

    <div class="pin zell" data-location="6">
      <div class="marker"></div>
      <div class="city">Zell am See</div>
      <div class="content">
        <h4>Netzwerk Stadtgemeinde, Tourismusverband und Verein „Zell by night“</h4>
        <p class="reason">für Impulse zu einem respektvollen Nachtleben</p>
        <a class="link" href="http://www.ginhouse.at" target="_blank">www.ginhouse.at</a>
      </div>
    </div>

    <div class="pin dornbirn" data-location="7">
      <div class="marker"></div>
      <div class="city">Dornbirn</div>
      <div class="content">
        <h4>Polizeisportverband Vorarlberg</h4>
        <p class="reason">für jugendgerechte Selbstverteidigungskurse mit Nightlife-Bezug</p>
        <a class="link" href="http://www.psv-vorarlberg.at" target="_blank">www.psv-vorarlberg.at</a>
      </div>
    </div>

  </div>

  <div class="category sport">

    <div class="pin puchberg" data-location="8">
      <div class="marker"></div>
      <div class="city">Puchberg am<br>Schneeberg</div>
      <div class="content">
        <h4>Move your mind</h4>
        <p class="reason">für aufmerksame Vorbereitung und allragsnahe
          Reflexion von Erlebnissen im Hochseilgarten</p>
        <a class="link" href="http://www.moveyourmind.at" target="_blank">www.moveyourmind.at</a>
      </div>
    </div>

    <div class="pin graz second" data-location="9">
      <div class="marker"></div>
      <div class="city">Graz</div>
      <div class="content">
        <h4>Bloc-house</h4>
        <p class="reason">für Impulse zu Entschleunigung und
          Beziehungskultur in der Boulderhalle.</p>
        <a class="link" href="http://www.bloc-house.at" target="_blank">www.bloc-house.at</a>
      </div>
    </div>

  </div>

</div>

<div class="legend">

  <div class="nightlife locations">
    <h3>Gastronomie & Nightlife</h3>

    <ul>
      <li><a data-location="1" href="http://www.wiesen.at" target="_blank">
        Jazzpub und Festivalgelände, Wiesen
      </a></li>

      <li><a data-location="2" href="http://www.frau-dietrich.at/" target="_blank">
        Frau Dietrich, Linz
      </a></li>

      <li><a data-location="3" href="http://www.clubcourage.at" target="_blank">
        Club Courage, Wien
      </a></li>

      <li><a data-location="4" href="http://www.explosiv.at" target="_blank">
        Jugendkulturzentrum Explosiv, Graz
      </a></li>

      <li><a data-location="5" href="http://www.220grad.com" target="_blank">
        220°, Salzburg
      </a></li>

      <li><a data-location="6" href="http://www.ginhouse.at" target="_blank">
        Zell by night, Zell am See
      </a></li>

      <li><a data-location="7" href="http://www.psv-vorarlberg.at" target="_blank">
        Polizeisportverband Vorarlberg, Dornbirn
      </a></li>

    </ul>
  </div>

  <div class="sport locations">
    <h3>Spiel & Sport</h3>
    <ul>
      <li><a data-location="8" href="http://www.moveyourmind.at" target="_blank">
        Move your mind, Puchberg am Schneeberg
      </a></li>

      <li><a data-location="9" href="http://www.bloc-house.at" target="_blank">
        Bloc-house, Graz
      </a></li>
    </ul>
  </div>
</div>