<div class="page-header">
  <h2>Termine & Meetings
  <% if can? :create, Appointment %>
    <%= link_to new_intern_appointment_path, :class => 'pull-right btn btn-info' do %>
      <i class="icon-plus"></i> &nbsp;Termin eintragen
    <% end %>
  <% end %>
  </h2>
</div>

<% if @future_appointments.empty? %>
<div class="alert alert-info">
  Es gibt noch keine Termine & Meetings!
</div>
<% else %>
<%= render :partial => 'list', :locals => { :appointments => @future_appointments, :display_response_buttons => true, :list_id => 'future-appointments' } %>
<% end %>

<% unless @past_appointments.empty? %>
<div class="page-header">
  <h3>Vergangene Termine & Meetings</h3>
</div>
<%= render :partial => 'list', :locals => { :appointments => @past_appointments, :display_response_buttons => false, :list_id => 'past-appointments' } %>
<% end %>
