<section id="chapter-4">
  
  <h2>Die AutorInnen</h2>
  
  <h3>Gerald Koller (Herausgeber):</h3>
  
  <p>Als Trainer, Autor, Projektentwickler und european facilitator im 
    Brückenbereich von Gesundheit und Kommunikation tätig. Entwickelte den 
    risflecting-Ansatz nach 15-jähriger Tätigkeit in der Prävention und leitet 
    die Lehrgänge zur Rausch- und Risikopädagogik.</p>
    
    
  <h3>Mag. Andrea Baldemair:</h3>

  <p>Mag. Andrea Baldemair, Psychologie-Studium an der Universität Salzburg, 
    Forschungsaufenthalte in Bangor/Wales, Berlin und Magdeburg; Tätigkeiten 
    als Psychologin, Tänzerin, Sängerin, Jugend- und Freizeitforscherin mit 
    dem Schwerpunkt Tanz und Identität.</p>
    
    
  <h3>Michael Guzei:</h3>

  <p>Diplomsozialarbeiter; soziokulturelle Animation; Studium in Theaterwissenschaft 
    und Publizistik; Kunstfotograf; Filmemacher. Stellvertretende Leitung der 
    Fachstelle für Suchtvorbeugung ISP in Wien (95-98). EU Projekt Urban plus: 
    "Suchtprävention im Gürtelbereich" (98-2000). Projekt- und Entwicklungsarbeit 
    für die Fachstelle für Suchtvorbeugung Niederösterreich.</p>
    
  
  <h3>Annemarie Rettenwander: cand.rer.nat.cand.phil.</h3>

  <p>Annemarie Rettenwander studiert an der Universität Innsbruck Psychologie 
    sowie Erziehungswissenschaften, nebenher arbeitet sie im klinischen und 
    psychosozialen Bereich.</p>
    
    
  <h3>Mag. Christoph Strieder:</h3>

  <p>Mag. Christoph Strieder, Psychologe und personzentrierter Psychotherapeut 
    (i.A.u.S.) in freier Praxis; Stv. Leiter der sozialpädagogischen 
    Jugendwohngruppe Mitterndorf der Pro Juventute; freiberufliche Projektarbeit 
    in verschiedenen Bereichen der Jugendarbeit.</p>


  <h3>Dr. Joachim Willfahrt:</h3>

  <p>Freier Kultur- und Wissenschaftsjournalist; Kulturanthropologe und 
    Medizinhistoriker. Lebt in Nauheim bei Frankfurt/M. und Steyr/OÖ.</p>
    
  <h3>Weitere Mitwirkende:</h3>
  
  <p>Die Beiträge in Unterkapiteln wurden von <strong>Jürgen Einwanger</strong>, 
    <strong>Hans A. Hüsgen</strong>, <strong>Werner Lindner</strong> und 
    <strong>Thomas Freund</strong>, <strong>Luis Töchterle</strong> sowie 
    <strong>Hilde Scheikl</strong> für andere Werke verfasst und hier 
    originalzitiert.</p>
    
  <p>Die Beiträge von <strong>Mag. Gerald Brandtner</strong>, 
    <strong>Hermann Hauer</strong>, <strong>Ingrid Höchtler</strong> und 
    <strong>Christa Preining</strong>, <strong>Berthold Santjer</strong>, 
    <strong>Wolfgang Schöngruber</strong>, <strong>Doris Stein-Wagner</strong> und 
    <strong>Martin Morawetz</strong> wurden im Rahmen der Abschlussarbeit zum 
    1. internationalen risflecting-Lehrgang verfasst.</p>
</section>