<section id="chapter-3">
  
  <h2>Das risflecting<sup>&reg;</sup>-Konzept</h2>
  
  <div class="content-box">
    <p>Unter <strong>Rausch</strong> wird eine prozesshafte Veränderung sinnlicher 
      und sozialer Wahrnehmung hinsichtlich Eindrücken, Emotionen, Grenzen und 
      Konventionen verstanden.</p>
    <p><strong>Risiko</strong> ist die Verbindung von Ungewissheit und Bedeutsamkeit, 
      die mit einem Ereignis einhergeht und zur Auseinandersetzung mit ihm und 
      seinen Folgen auffordert.</p>
  </div>
  
  
  <h3>Gesellschaftliche Polaritäten...</h3>

  <p>Rausch und Risiko sind in unserer Gesellschaft höchst ambivalent gebrauchte 
    Begriffe: auf der einen Seite werden sie als mögliche Gefährdung für die 
    menschliche Stabilität und Gesundheit problematisiert bzw. moralisch verworfen - 
    auf der anderen Seite von politischen, wirtschaftlichen und sozialen Kräften 
    als wichtige Faktoren in p.r. und der Inszenierung von sozialen events erkannt 
    und eingesetzt. So ist insbesondere der Freizeitbereich junger Menschen als 
    rauschhaftes "no risk-no fun"-Patchwork komponiert.</p>
    
  <p>Philosophen und Lernpsychologen fordern überdies vermehrt Risikobereitschaft, 
    die erst Lernen und Wertentwicklungen ermöglicht. Und die globale Wirtschaft 
    erwartet sie als Grundtugend des gegenwärtigen und zukünftigen Arbeitsalltags. 
    &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren', "#{static_path(:konzept)}/#chapter-3" %>
  </p>
  
</section>