<section id="chapter-4">
  
  <h2>Pädagogische Konsequenzen</h2>
  
  <div class="content-box">
    <p>Regressionsräume, Integration, credibility und Begleitung 
      zur Selbstverantwortung
    </p>
  </div>
  
  <p>Hinter dem risflecting<sup>&reg;</sup>-Ansatz steht, der Kern desselben ist, eine pädagogische 
    Haltung, die glaubwürdig die Balance zwischen notwendiger Regression und 
    sozialer Verantwortung bildet.</p>
  
  <p>Da Rausch- und Risikoerfahrungen weitab alltäglicher Vernunft ihre Wirkung 
    entfalten, brauchen auch angemessene pädagogische Maßnahmen den Mut zur 
    Regression. Der Umgang mit Magie braucht magische, der Umgang mit Emotionen 
    emotionale Kompetenz. Darauf ist etwas näher einzugehen:</p>

  <p>Nach den heutigen Erfahrungen der Evolutionswissenschaften (beispielsweise der 
    dynamischen Systemtheorie) entwickelt sich alle Evolution hierarchisch hin zu 
    mehr Tiefe und &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/gerald-koller-paedagogische-konsequenzen.pdf')  %>
  </p>
  
</section>