<section id="chapter-4">
  
  <h2>Literaturanalyse: Genuss</h2>
  
  <div class="content-box">
    <p>Die folgende Analyse beleuchtet das Genussverhalten Jugendlicher vor dem 
      Hintergrund aktueller jugendkultureller Entwicklungen.</p>
  </div>
  
  <h3>Dr. Joachim Willfahrt:</h3>
  
  <p><strong>Genussfähigkeit als präventive Lebenskompetenz in der 
    Gegenwartsgesellschaft - Bricolage zum jugendlichen Hedonismus</strong></p>

  <cite>"Das wahre Ziel unseres Lebens ist es, 
    glücklich zu sein." <strong>(Dalai Lama)</strong></cite>

  <h4>Popmusik, Jugendkultur und Hedonismus</h4>

  <p>Seit den Fünfziger Jahren lassen sich wichtige Positionen einer Jugendkultur 
    "zwischen Protest und Party" an der Pop-Musik fest machen (Kemper u.a. 1998). 
    Die jeweilige Musik und die Texte dazu erscheinen als das sinnlich 
    hervorstechende Merkmal bestimmter jugendlicher Subkulturen, auch in deren 
    Selbstcharakterisierung. Deren Wandel vollzieht sich derzeit im steten 
    Wettlauf mit der Vermarktung und Vereinnahmung durch die Erwachsenenwelt. 
    Die Massenproduktion macht außer der Musik noch weitere kulturelle Spezifika 
    wie Bekleidung und die Ausübung von Trendsportarten durch alle 
    Bevölkerungsschichten konsumierbar. Subkulturelle Sprachstile und Attitüden 
    werden in einer Medienwelt durch eine Gesellschaft assimiliert, die zwar 
    demographisch immer älter wird, aber &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/risflecting-literaturanalyse-genuss.pdf')  %>
  </p>
  
</section>