<section id="chapter-2">
  
  <h2>Kritik am Status Quo
    <span class="subline">(Das Dilemma der Bewahrungspädagogik)</span>
  </h2>
  
  <div class="content-box">
    <p>In diesem Kapitel dienen Ausschnitte aus Werken verschiedener 
      Autoren dazu, sich kritisch mit einer Haltung auseinander zu setzen, die 
      Prävention nicht als Auseinandersetzung, sondern als Vermeidung derselben 
      versteht - und damit die großen Potenziale präventiver Beziehungsarbeit 
      ungenutzt lässt.</p>
  </div>
  
  <p>Die folgenden Texte versuchen aus verschiedenen Blickwinkeln ein Dilemma 
    aufzuzeigen, aus dem oftmals Auswege gewählt werden, die dazu führen, dass 
    umso verbissener an ihm festgehalten wird. Allein die statistisch signifikante 
    Realität, dass immer mehr Jugendliche Substanz- und Risikoerfahrungen ohne 
    Unrechtsbewusstsein machen, zeigt, wie fern von ihren Zielgruppen pädagogische 
    Ansätze, die auf ausschließliche Abstinenz und Vermeidung zielen - gleichsam 
    im moralisierenden Vakuum - agieren. Damit aber verhindern sie Kommunikation, 
    Reflexion und die Übernahme von Verantwortung. Würde diese z.T. lebensweltfremde 
    Vermeidungsstrategie auch im Bereich der Sexualität noch betrieben, wäre auch 
    hier der Problemstand wohl noch weitaus größer.</p>
    
    
  <h3>Hans-A. Hüsgen: Kommunikation mit Konsumenten psychisch wirksamer Mittel</h3>

  <p>Der Autor dieses Beitrags ist fest davon überzeugt, 
  dass die weitaus größte Gruppe von Konsumenten (von Nikotin, Alkohol und illegalen 
  Drogen) gesund ist; er ist aber ebenso davon überzeugt, dass wir es den Konsumenten 
  schulden, ihnen eine klare Antwort auf ihre eigenen Fragen zu geben &hellip;</p>
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/hans-a-huesgen-kommunikation-mit-konsumenten-psychisch-wirksamer-mittel.pdf') %>
  </p>
  
  
  <h3>Werner Lindner/Thomas Freund: Der Prävention vorbeugen</h3>

  <cite>"Eine Fülle von Institution haben das Konzept (der Prävention) übernommen 
    und hantieren oder jonglieren mit ihm. Addiert man (...) deren Erkenntnisse, 
    so gelangt man zu dem Schluss, dass der Mensch, der - angeblich zu seinem 
    höchsten Nutzen und Frommen - als Gegenstand von Forschungen und Ausforschungen 
    herhalten muss, auf Grund all der nunmehr wissenschaftlich festgestellten 
    unberechenbaren, normwidrigen, abweichenden &hellip;"</cite>
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/werner-Lindner-und-thomas-freund-der-praevention-vorbeugen.pdf') %>
  </p>
  
  
  <h3>Gerald Koller: Pädagogik: Wege aus der Neurose?</h3>

  <p>Wie viel <em>Er</em>ziehung mit <em>Be</em>ziehung zu tun hat, wird in der deutschen Sprache 
    besonders deutlich: Auch das Begleiten von Menschen ist ein stetiger Spannungs- 
    und Balanceakt. Gesellschaftlich gibt es in unserer Kultur zwei Modelle, wie 
    Erziehung gesehen werden kann. Sie sind im philosophischen Wettstreit zwischen 
    Sokrates und Plato am deutlichsten hervorgetreten - ich nenne sie daher auch 
    sokratische oder aber platonische Pädagogik. Plato beruft sich in seiner 
    Philosophie auf &hellip;</p>
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/gerald-koller-paedagogik-wege-aus-der-neurose.pdf') %>
  </p>
  
  
  <h3>Luis Töchterle: Risiko - ja bitte!</h3>

  <p><em>Die Geschichte der kleinen Jaqueline.</em></p>
  
  <p>Stell' Dir bitte eine ganz alltägliche Szene vor, die ich erst vor wenigen 
    Tagen so erlebt habe: Ein paar Familien warten auf einem Parkplatz zusammen, 
    um mit ihren Autos gemeinsam weg zu fahren. Plötzlich ertönt der laute 
    Entsetzensschrei eines Vaters "Jaqueliiine - neiiin!!!", und er stürmt schon 
    los. Alle Augen richten sich auf die Zweijährige, um zu sehen, was denn 
    Schreckliches passiert ist: Die Kleine ist &hellip;</p>
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/luis-toechterle-risiko-ja-bitte.pdf')  %>
  </p>
  
</section>