<section id="chapter-4">
  
  <h2>Literaturanalyse: Risiko</h2>
  
  <div class="content-box">
    <p>Die umfassende Literaturanalyse beleuchtet menschliches Risikoverhalten, 
      focussiert auf die Ausübung von Risikosportarten und nimmt auf aktuelle 
      deutsch- und englischsprachige Forschungsarbeiten Bezug.</p>
  </div>
  
  <h3>cand.rer.nat.cand.phil. Annemarie Rettenwander:</h3>
  
  <p><strong>Literaturanalyse "Risiko und Extremsport" - fokussiert auf den Bereich 
  "Risikoverhalten Jugendlicher"</strong></p>

  <h4>Der Begriff "Risiko"</h4>

  <p>Der Begriff "Risiko" stammt vom griechischen "rhiza" und bedeutet dort "Wurzel, 
    Klippe". Rohrmann (1991) schreibt dazu:</p>
  
  <p>"Risiko" ist gleichermaßen ein alltagssprachlicher Begriff und ein 
    wissenschaftliches Konzept (z.B. der Ökonomie, Mathematik und Psychologie). 
    Es bezeichnet die Möglichkeit eines Schadens oder Verlustes als Konsequenz 
    eines bestimmten Verhaltens oder Geschehens. Um Risiken quantifizierbar zu 
    machen, muss das Ausmaß eines Risikos durch Indikatoren definiert und 
    operationalisiert werden."</p>

  <p>Schütz, Wiedemann und Gray (2000) schreiben von einer Unterscheidung zwischen 
    life-style risks und environmental risks. Life-style risks wären demnach 
    Risiken, die unter persönlicher Kontrolle der einzelnen handelnden Personen 
    stehen und von persönlichen Entscheidungen des jeweiligen Individuums abhängen 
    (z.B. Rauchen, Alkoholgenuss, Autofahren, Ausüben von Risikosportarten). 
    Environmental risks werden durch technische Entwicklungen &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/risflecting-literaturanalyse-risiko.pdf')  %>
  </p>
  
</section>