<section id="chapter-4">
  
  <h2>Literaturanalyse: Rausch</h2>
  
  <div class="content-box">
    <p>Dies Arbeit diskutiert gesellschaftspolitische Zugänge zum Phänomen <strong>Rausch</strong> 
      und weist auf aktuelle pädagogische Modelle hin, die kompetenten Umgang mit 
      Rauscherfahrungen zum Ziel haben.</p>
  </div>
  
  <h3>Mag. Christoph Strieder:</h3>
  
  <p><strong>Rausch und Rauschmittelkonsum unter besonderer Berücksichtigung 
    gesellschaftlicher und pädagogischer Fragestellungen - Eine Literaturstudie 
  </strong></p>

  <p>Die vorliegende Arbeit widmet sich, neben allgemeinen Überlegungen zum Thema 
    Rausch, vor allem auch den substanzbezogenen Rauschzuständen, weil der Konsum 
    psychoaktiver Substanzen - vor allem unter Jugendlichen - ein häufig 
    anzutreffendes Phänomen ist und deshalb der Umgang damit für Pädagogen, 
    Psychologen, Sozialarbeiter, Eltern, Politiker etc. gegenwärtig eine besondere 
    Herausforderung darstellt. Die Erfahrungen der Suchtprävention haben zudem 
    gezeigt, dass man auch mit den besten Konzepten Jugendliche vom Konsum 
    psychoaktiver Substanzen nie ganz abhalten wird können.</p>
  
  <p>Erst in letzter Zeit beginnt man langsam, das menschliche Bedürfnis nach 
    Rausch, nach Grenzerfahrungen, nach Transzendierung des Alltags ernst zu nehmen. 
    Dazu braucht es eine kritische Reflexion unserer</p>

  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/risflecting-literaturanalyse-rausch.pdf')  %>
  </p>
  
</section>