<section id="chapter-4">
  
  <h2>Literaturanalyse: Tanz, Techno u. Ekstase</h2>
  
  <div class="content-box">
    <p>Vorwiegend nicht-stoffliche, selbst-induzierte Räusche und ihre Einbettung 
      in soziale Settings sind Thema dieser Arbeit: der Körper als Rauschraum.</p>
  </div>
  
  <h3>Mag. Andrea Baldemair:</h3>
  
  <p><strong>Rausch, Trance und Ekstase - erläutert am Beispiel der 
  Techno-Tanz-Bewegung unter Berücksichtigung körpereigener, 
  psychoaktiver Substanzen</strong></p>

  <h4>Techno als Folge einer Ekstase-Deprivation</h4>

  <p>Die Techno-Bewegung zählt zu den populärsten jugendlichen Tanzkulturen der 
    Postmoderne. Geradezu exemplarisch steht sie für die Wiederbelebung von Trance, 
    Tanz und Ekstase als verschüttetem Kulturgut der westlichen Industrienationen, 
    deren Funktionieren weitgehend auf einseitigen Rationalismen basiert.</p>
  
  <p>Das Erleben außergewöhnlicher Bewusstseinszustände, die sich der Kontrolle 
    durch den Verstand weitgehend entziehen, ist gerade dort - wenn auch heiß 
    ersehnt - so doch gesellschaftlich nach wie vor nicht ,,wirklich erwünscht.</p>

  <p>Die Kulturanthropologin Felicitas Goodman (1991) diagnostiziert als Folge 
    dieser systematischen Ausgrenzung nicht kontrollierbarer, veränderter 
    Wachbewusstseinszustände in säkularisierten Gesellschaften einen - in seinen 
    Grundzügen religiös motivierten - Ekstase-Mangel und &hellip;</p>
    
  <p>
    <%= link_to 'mehr darüber erfahren (PDF)', 
                 asset_path('studie/literaturanalyse_tanz.pdf')  %>
  </p>
  
</section>