<% unless recent_alternative_questions.empty? %>
  <div class="well headline">
    <h4>Andere Fragen / Mitteilungen</h4>
  </div>
  <ul id="recent-alternative-questions" class="unstyled">
    <% recent_alternative_questions.each do |question| %>
      <li>
        <%= link_to question.title, intern_question_path(question) %><br>
        <small>
          <%= image_tag avatar_url(question.author.avatar, :tiny), :alt => question.author.full_name %>
          <strong><%= question.author.full_name %></strong> am <strong><%= question.created_at.strftime('%d. %B \'%y') %></strong>
        </small>
      </li>
    <% end %>
  </ul>
<% end %>
