@import "mixins";

.page-header h2 a {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2em;
  margin-top: 15px;
  &.btn { margin-top: 5px; }
}

#future-appointments, #past-appointments {
  margin-bottom: 30px;
  li.well {
    padding: 5px 0;
    margin-bottom: 7px;

    @include clearfix;
    @include admin-tools;

    .date {
      text-align: right;
      font-weight: bold;
      font-size: 15px;
      min-height: 35px;
      margin-left: -22px;
      padding-right: 20px;
      border-right: 2px solid #ccc;
    }
    .times {
      font-size: 12px;
      line-height: 1.8em;
      font-weight: normal;
      color: #aaa;
    }

    h4 {
      font-size: 15px;
      line-height: 1.3em;
    }

    small.location {
      color: #aaa;
      font-size: 12px;
    }
    .admin-tools { padding: 6px 7px 6px 0; }
    .buttons {
      height: 28px;
      padding: 6px 7px;
      @include clearfix;

      .btn {
        margin: 0 0 0 3px;
      }
      .label {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        margin: 6px 0 4px;
      }
    }
  }
}

#appointment-details {
  dl {
    font-size: 14px;
    margin-top: 0px;
  }
  dt {
    width: 60px;
    text-align: left;
  }
  dd { margin-left: 70px; }
  dt, dd { line-height: 1.4em; }

  hr { margin: 8px 0; }

  .well {
    padding: 10px 20px;
  }

  .buttons {
    margin-bottom: 20px;
    @include clearfix;

    .pull-left { line-height: 30px; }
  }

  #acceptances, #rejections {
    margin-bottom: 0;
    @include clearfix;

    li {
      width: 200px;
      &.odd { margin-left: 18px; }
    }
  }
}
