@import "mixins";

#attachment-form {
  padding: 10px;
  margin-bottom: 30px;
  @include clearfix;

  legend {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.5em;
  }
  #file_name_field {
    width: 195px;
    max-width: none;
  }
  #file_browse_button {
    width: 85px;
    padding-left: 0;
    padding-right: 0;
  }
  input[type=file] { width: 278px; }
}

#attachments-list {
  margin-bottom: 20px;
  @include clearfix;

  li {
    span.icon {
      display: inline-block;
      width: 22px;
      padding: 0 2px;
      line-height: 1;
      vertical-align: middle;
    }
    img {
      width: 18px;
      height: 18px;
    }
    a {
      line-height: 1.3em;
      vertical-align: middle;
    }
    padding: 5px 0;
    border-bottom: 1px dotted #bbb;

    &:last-child { border-bottom: 0px; }
    @include clearfix;
  }

  small {
    color: #aaa;
    font-size: 12px;
    text-align: right;
  }
}
