@import "mixins";

.well.headline {
  padding: 5px 10px;
  margin-bottom: 5px;
}

.controls .alert {
  width: 400px;
  margin-bottom: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

input, textarea {
  @include box-sizing(border-box);
}
