@import "mixins";

#comment-form {
  &.well { padding: 15px 20px; }
  textarea { width: 580px; }
  legend {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.5em;
  }
  .control-group { margin-bottom: 0; }
  .pull-right { @include clearfix; }
}

#comments-list {
  li {
    @include clearfix;
    padding: 15px 0 5px;
    border-bottom: 1px dotted #bbb;
    &:last-child { border-bottom: none; }
  }
  .comment { margin: 0 3px; }
  .avatar { border-radius: 4px; }
  .head {
    @include clearfix;
    margin-bottom: 2px;
    color: #bbb;
  }
}
