@import "mixins";

.dashboard-list {
  margin-left: 0px;
  margin-bottom: 50px;
  padding: 0 5px;

  li {
    padding: 5px 0;
    margin: 5px 0;
    border-bottom: 1px dotted #bbb;
    @include clearfix;

    a {
      display: inline-block;
      line-height: 1.2em;
    }

    &:last-child {
      border-bottom: 0px;
    }
  }

  small {
    color: #aaa;
    font-size: 12px;
  }
}
