@import "mixins";

.navbar {
  .brand {
    color: #eee;
    text-shadow: 0 0 5px #fff;
    font-size: 18px;
    font-weight: bold;
  }

  .nav > li > a {
    font-size: 15px;
    color: #ddd;
    &:hover { background-color: #555; }
  }
}

.container > .page-header {
  margin-top: 0;
}
