@import "mixins";

#questions-list {
  @include item-list;
}

#recent-alternative-questions {
  margin-left: 0px;

  li {
    padding: 5px 0 10px;
    margin: 5px 0;
    border-bottom: 1px dotted #bbb;

    &:last-child {
      border-bottom: 0px;
    }
  }

  small {
    color: #aaa;
    font-size: 12px;
  }
}

#question-details {
  .description { margin-bottom: 10px; }
  .author-details { margin-bottom: 30px; }
}
